
 <md-content layout-padding layout="row" layout-sm="column">
   <div class="chat-history" id="chatBox" scroll-glue>
     <div ng-repeat="message in messages">
       <div class="chat-message">
	 <div class="chat-message-author">@{{message.username}}</div>
	 <div class="chat-message-text">{{message.text}}</div>
       </div>
     </div>
   </div>
 </md-content>

<md-content layout-padding layout="row" layout-sm="column">
    <md-input-container>
      <form ng-submit="sendChat(text)">
	<label>Chat</label>
        <input size="50%" ng-model="text" placeholder="What's on your mind?">
      </form>
    </md-input-container>
 </md-content>
